.navigation {
  background-color: #fff;
  color: #000;
  width: 15%;
  max-width: 15%;
  border: 1px solid #c6c9ce;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .nav_group {
    border-bottom: 1px #c6c9ce solid;

    svg {
      vertical-align: baseline;
    }

    p {
      margin-top: 10px;
      padding: 10px 10px 0px 10px;
      color: #000;
      font-size: 20px;
      font-weight: bold;
    }
  }

  .nav_link {
    display: block;
    margin-left: 20px;

    &_items {
      margin: 5px;
      padding: 10px;
      display: block;

      a {
        margin-left: 10px;
        color: #000;
        text-decoration: none;
      }

      &:hover {
        background-color: #c6c9ce;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
}
